.d-flex {
  display: flex;
  justify-content: center;
}

.mt-4 {
  margin-top: 1rem;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-Link {
  color: grey;
  font-weight: bold;
  text-decoration: none;
}

.nav-Link.active {
  color: green;
  text-decoration: underline;
}

.nav-Link:hover {
  color: green;
  text-decoration: underline;
}

.read-more {
  display: block;
  margin-top: 10px;
  color: green;
  text-decoration: none;
}

.read-more::after {
  font-weight: bold;
  content: ">>";
}

.card {
  box-shadow: rgba(128, 128, 128) 0px 3px 8px;
}
